/* Style the section element with id="dashboard" */
#dashboard {
  padding: 20px;
  border: 1px solid #cbbbbb;
  border-radius: 5px; /* Add rounded corners */
  margin: 20px auto; /* Center the dashboard horizontally */
  max-width: 600px; /* Set a maximum width */
}

/* Style the h2 element */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the div elements with IDs */
#balance,
#portfolio-summary {
  margin-bottom: 15px;
}

/* Style the paragraphs within the divs */
p {
  text-align: center;
  margin-bottom: 5px;
}
