.App {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #ededed;
  color: #020202;
  padding: 20px;
  text-align: center;
}

nav h1 {
  margin: 0;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:hover {
  cursor: pointer;
}

section {
  margin-bottom: 40px;
}

#balance, #portfolio-summary {
  border: 1px solid #ccc;
  padding: 10px;
}
